In [3]:
#titanic csv 데이터 가져와서 데이터프레임 만들기
import pandas as pd

df = pd.read_csv('./datasets/titanic_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.drop(['PassengerId','Name', 'SibSp' ,'Parch','Ticket', 'Fare','Cabin'  ] , axis=1 , inplace=True)
df.head()

   Survived  Pclass     Sex   Age Embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C
2         1       3  female  26.0        S
3         1       1  female  35.0        S
4         0       3    male  35.0        S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   Embarked  889 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 34.9+ KB

In [6]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Embarked']=df['Embarked'].fillna('S')

In [7]:
X = df.drop('Survived' ,axis=1)
y = df.loc[:,'Survived' ]

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder  = LabelEncoder()
X['Sex'] = encoder.fit_transform(X['Sex'])
X['Embarked'] = encoder.fit_transform(X['Embarked'])

In [21]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler

scaler = MinMaxScaler()
X['Age'] = scaler.fit_transform(X[['Age']])

In [23]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train, y_test = train_test_split(X, y ,test_size=0.1, random_state=111)

In [24]:
from sklearn.base import BaseEstimator
from sklearn.ensemble import RandomForestClassifier

be_clf = RandomForestClassifier()
be_clf.fit(X_train, y_train)

pred = be_clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
print("정확도 :", accuracy_score(y_test, pred))
print("정밀도 :", precision_score(y_test, pred))
print("재현율 :", recall_score(y_test, pred))

정확도 : 0.7666666666666667
정밀도 : 0.7058823529411765
재현율 : 0.6857142857142857

In [26]:
from sklearn.metrics import f1_score

print("f1 score :", f1_score(y_test, pred))

f1 score : 0.6956521739130436

In [27]:
(1/0.7058823529411765 + 1/0.6857142857142857)/2

1.4375

In [28]:
1/1.4375

0.6956521739130435

In [30]:
from sklearn.linear_model import LogisticRegression 

lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)

pred_proba = lr_clf.predict_proba(X_test)
pred=lr_clf.predict(X_test)
print(pred)
print(pred_proba)
print(f'pred_proba()결과 Shape : {pred_proba.shape}')

[1 1 1 0 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 1
 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0]
[[0.30673966 0.69326034]
 [0.24313959 0.75686041]
 [0.06385122 0.93614878]
 [0.8827164  0.1172836 ]
 [0.92726492 0.07273508]
 [0.6068496  0.3931504 ]
 [0.84989784 0.15010216]
 [0.06457926 0.93542074]
 [0.90268062 0.09731938]
 [0.23392688 0.76607312]
 [0.73260025 0.26739975]
 [0.89937811 0.10062189]
 [0.3013728  0.6986272 ]
 [0.07893166 0.92106834]
 [0.9195562  0.0804438 ]
 [0.4534506  0.5465494 ]
 [0.08362292 0.91637708]
 [0.85475718 0.14524282]
 [0.79209074 0.20790926]
 [0.24783731 0.75216269]
 [0.32739033 0.67260967]
 [0.63959002 0.36040998]
 [0.9195562  0.0804438 ]
 [0.96195566 0.03804434]
 [0.90924633 0.09075367]
 [0.9195562  0.0804438 ]
 [0.85430153 0.14569847]
 [0.23850269 0.76149731]
 [0.90268062 0.09731938]
 [0.8827164  0.1172836 ]
 [0.08303999 0.91696001]
 [0.31763099 0.68236901]
 [0.18382796 0.81617204]
 [0.89228001 0.10771999]
 [0.9237687  0.0762313 ]
 [0.58240082 0.41759918]
 [0.06855315 0.93144685]
 [0.6007823  0.3992177 ]
 [0.05667736 0.94332264]
 [0.82771326 0.17228674]
 [0.935368   0.064632  ]
 [0.76591669 0.23408331]
 [0.13051277 0.86948723]
 [0.61602243 0.38397757]
 [0.90268062 0.09731938]
 [0.77488832 0.22511168]
 [0.46108669 0.53891331]
 [0.53869644 0.46130356]
 [0.0886576  0.9113424 ]
 [0.5762197  0.4237803 ]
 [0.93981837 0.06018163]
 [0.46549569 0.53450431]
 [0.33165553 0.66834447]
 [0.92895709 0.07104291]
 [0.46549569 0.53450431]
 [0.91233717 0.08766283]
 [0.72266016 0.27733984]
 [0.70452197 0.29547803]
 [0.8827164  0.1172836 ]
 [0.41406193 0.58593807]
 [0.84663345 0.15336655]
 [0.439031   0.560969  ]
 [0.87264923 0.12735077]
 [0.9195562  0.0804438 ]
 [0.41406193 0.58593807]
 [0.08964139 0.91035861]
 [0.9195562  0.0804438 ]
 [0.94262422 0.05737578]
 [0.88150241 0.11849759]
 [0.90819444 0.09180556]
 [0.61602243 0.38397757]
 [0.63666161 0.36333839]
 [0.9195562  0.0804438 ]
 [0.38091002 0.61908998]
 [0.89937811 0.10062189]
 [0.08362292 0.91637708]
 [0.90268062 0.09731938]
 [0.08303999 0.91696001]
 [0.8827164  0.1172836 ]
 [0.69307473 0.30692527]
 [0.76133877 0.23866123]
 [0.8827164  0.1172836 ]
 [0.92726492 0.07273508]
 [0.07532169 0.92467831]
 [0.3013728  0.6986272 ]
 [0.75669977 0.24330023]
 [0.90268062 0.09731938]
 [0.9237687  0.0762313 ]
 [0.9195562  0.0804438 ]
 [0.54309968 0.45690032]]
pred_proba()결과 Shape : (90, 2)

In [31]:
import numpy as np

print('pred_proba array에서 앞 3개만 샘플로 추출 \n:', pred_proba[:3])

pred_proba_result = np.concatenate([pred_proba, pred.reshape(-1, 1)], axis=1)
print('두개의 class 중에서 더 큰 확률을 클래스 값으로 예측 \n', pred_proba_result[:3])

pred_proba array에서 앞 3개만 샘플로 추출
: [[0.30673966 0.69326034]
 [0.24313959 0.75686041]
 [0.06385122 0.93614878]]
두개의 class 중에서 더 큰 확률을 클래스 값으로 예측
 [[0.30673966 0.69326034 1.        ]
 [0.24313959 0.75686041 1.        ]
 [0.06385122 0.93614878 1.        ]]

In [32]:
(10/2 + 10/8)/2

3.125

In [33]:
1/3.125

0.32

In [34]:
(10/3 + 10/7)/2

2.380952380952381

In [35]:
1/2.380952380952381

0.42